.deposit-modal-block {
  animation: float 0.5s 1;
  
  width: 50%;
  height:550px;

  // max-height: calc(100vh - 900px);
  // overflow-y: auto;
  position: absolute;

  top:200px;
  left:18%;
  right:20%;
  
  padding: 90px;
  background: #fff;
  z-index: 3;
  display:flex;
}

.deposit-modal-content{
  flex-direction: column;
}

.deposit-modal-text{
  font-family: "Roboto",sans-serif;
  font-size:15px;
  line-height:24px;
  font-weight:400;
  justify-content: space-between;
  align-items: space-between;
}


.deposit-modal-content h1 {
  font-size: 32px;
  line-height: 1;
  font-weight: 400;
}


.deposit-modal-link{
  text-decoration: none;
   color:#47c807;
}

.deposit-modal-link:hover{
  text-decoration: none;
 
  cursor:pointer;
}