.homepage-wrapper {

}

.nav-bar {
    position:absolute;
    width:100%;
    box-shadow: 0px 0.1px 2px 1px rgba(0,0,0,0.4);
    display: flex;
    justify-content: space-between;
    height: 52px;
    background-color: white;
    padding:12px;
}

a {
    text-decoration: none;
    font-weight: 800;
    color: black;
}

.green-mile-textbox {
    width: 196px;
    margin-left: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.green-mile-text {
    font-size: 29px;
}

.logo-img {
    
    width:48px;
    height: 48px;

    cursor: pointer;
}


.login-button {
    color: black;
    font-weight: bold;
    text-decoration: none;
    font-size: 16px;
    
}

.signup-button {
    font-weight: bold;
    width: 127px;
    height: 43px;
    border: none;
    font-size: 16px;
    font-weight: bold;
    
    border-radius: 30px;
    background-color: #2fc802;
    margin-left: 20px;
    
    cursor: pointer;
    
}

.signup-button:hover {
    background-color: #13670d;
}

.homepage {
    display: flex;
    justify-content: center;
    width: 100%;
    height:690px;
    background-color: #c3f53b;
}

.content-box {
    width: 80%;
    height: 100%;
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header-textbox {
    width: 475px;
    height: 100%;
    padding-left: 40px;
}

.header {
    padding-top: 105px;
    padding-bottom: 35px;
    font-size: 42px;
}

.body {
    padding-bottom: 45px;
    font-size: 22px;
    line-height: 36px;
}

.body-signup-button {
    width: 150px;
    height: 49px;
    border: solid black;
    border-radius: 30px;
    background-color: black;
    font-size: 16px;
    cursor: pointer;
}

.body-signup-button span {
    font-weight:bold;
    color:white;
}

.body-signup-button:hover {
    background-color: #343536;
}

.modal-page-wrapper{
    width:248px;
    font-size: 15px;
    padding-top: 40px;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.disclosure-text-element:hover {
    color: #2fc802;
    cursor: pointer;
}

.info-img {
    display:inline-block;
    // height:18px;
    // width:18px;
}

.image-box {
    width: 70%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.cellphone-img {
    width: 100%;
    height: 80%;
}