//navbar

.homepage-nav-bar {
    position:absolute;
    width:98.5%;
    box-shadow: 0px 0.1px 2px 1px rgba(0,0,0,0.4);
    display: flex;
    justify-content: space-between;
    height: 52px;
    background-color: white;
    padding:12px;
}

.homepage-links, .homepage-login-button, .homepage-signup-button-text-element, .body-signup-button,.homepage-login-button-text-element  {
    text-decoration: none;
    font-weight: 800;
    color: black;
}

.green-mile-logo-block {

    font-size: 29px;
    width: 196px;
    margin-left: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-img {
    
    width:48px;
    height: 48px;

    cursor: pointer;
}


.homepage-signup-button-block {
    font-weight: bold;
    width: 142px;
    height: 49px;
    border: none;
    font-size: 19px;
    font-weight: bold;
    
    border-radius: 30px;
    background-color: #2fc802;
    margin-left: 20px;
    
    cursor: pointer;
    
}

.homepage-login-button-text-element{
    font-size: 19px;
    font-weight: bold;
}

.homepage-signup-button-block:hover,  {
    background-color: #13670d;
}

.homepage-login-button-text-element:hover {
    color: #2fc802;

}


//first block

.first-section-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: start;
    width: 100%;
    height:690px;
    background-color: #c3f53b;

    border-bottom:1px solid black;
}

.first-section-block {

    width: 600px;
    height: 100%;
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.first-section-header-block {
    height: 100%;
    padding-left: 40px;
}

.first-section-header {
    margin-top: 155px;
    padding-bottom: 35px;
    font-size: 52px;
    font-weight:500;
}

.first-section-body {

    padding-bottom: 45px;
    font-size: 22px;
    line-height: 36px;
    width:486px;
}

.body-signup-button {
    width: 150px;
    height: 49px;
    border:none;
    outline:none;
    border-radius: 30px;
    background-color: black;
    font-size: 16px;
    cursor: pointer;
}

.body-signup-button  {
    font-weight:bold;
    color:white;
    
}

.body-signup-button-text{
    font-weight:bold;
    color:white;
    text-decoration: none;
}

.body-signup-button:hover {
    background-color: #343536;
}

.image-box{
    width: 587px;
    height:576px;
    margin-top: 40px;
}
.modal-page-wrapper{
    margin-top:16px;
    width:248px;
    font-size: 17px;
    margin-top:33px;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.disclosure-text-element:hover {
    
    color: #2fc802;
    cursor: pointer;
}

.info-img {
    display:inline-block;
    // height:18px;
    // width:18px;
}

.image-box {
    width: 70%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.cellphone-img {
    width: 640px;
    height: 80%;
    margin-left:300px;
}

//footer
.portfolio-footer-wrapper {
    font-weight:400;
    font-size: 16px;
    color:white;

    height:400px;
    background:black;
    width:100%;
    display:flex;
    justify-content: center;
    align-items: center;

}

.portfolio-footer-block{
    width:95%;
    height:80%;
    display:flex;
    flex-direction:column;
    justify-content: space-between;
    align-items: left;

}

.portfolio-footer-border{

    border-top:1px solid white;
}

.finra-link{
    color:#00C810;
    cursor:pointer;
    text-decoration:none;
}

.footer-modal-page-wrapper{
    width:400px;
    font-size: 17px;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.view-important-text-element {
    
    color: rgb(111, 109, 109);
}
.view-important-text-element:hover {
    
    color: #2fc802;
    cursor: pointer;
}