.login-wrapper {
    font-family: 'Robot', sans-serif;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

.login-img-wrapper {
    width: 54%;
}

.login-form-block{
    font-family:'Roboto', sans-serif;
    height: 80%;
    width:80%;
}

.login-img-element {
    width: 100%;
    height: 100%;
}

.login-form-wrapper {
    display:flex;
    justify-content: left;
    align-items: center;
    margin-top:90px;
    margin-left:48px;
    width: 50%;
}

.login-form-greeting-element {
    font-size: 23px;
    font-weight: 600;
    margin-bottom: 16px;
    
}

.login-inputs-wrapper {
    display:flex;
    flex-direction: column;
    width:388px;
}

.login-input-label {
    font-size: 12px;
    width: 100%;
    padding-bottom: 18px;
    padding-top: 18px;
}

.login-input-element{
    outline: none;
    border: 1px solid #e3e9ed;
    border-radius: 4px;
    width: 414px;
    height: 29px;
    text-indent: 8px;

}

.login-input-element:hover {
    border-color: rgb(117, 116, 116);
    transition: all 1s ease;
    -webkit-transition: all 1s ease;
}

.login-input-element:focus {
    border-color: #00C810;
    outline:none;
}

.error-messages {
    font-size: 12px;
    font-weight: bold;
    margin-top: 25px;
}

.forgot-password{
    font-size: 12px;
    font-weight:900px;
    line-height: 13px;
    color:black;
    width: 300px;
    margin-top: 16px;
}

.forgot-password-green{
    color:#47c807;
    text-decoration:none;
}

.login-button-block {
    width:400px;
    display:flex;
    justify-content: space-between;
    align-items: center;

}

.login-button-submit {
    width: 143px;
    height: 48px;
    margin-top: 88px;

    border: none;
    background-color: #00C810;
    border-radius: 4px;
    
    text-align: center;
    color: white;

    font-weight: bold;
    font-size: 12px;
}

.login-button-submit:hover {
    background-color: rgba(0,160,4,1)
}

.demo-submit {
    margin-top: 88px;
    margin-left:16px;
    font-size: 12px;
    font-weight:900px;
    line-height: 13px;
    color:#47c807;
    width: 300px;
    cursor: pointer;
    font-weight:bold;
}

.login-error-messages ul li{
    margin-top:60px;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-weight:bold;
}

.error-hidden {
   visibility: none;
}