.portfolio-wrapper {
    display:flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    background-color: black;
    height:700px;
    width:100%;
    color:white;
}

//nav-bar

.portfolio-nav-bar {
    position: sticky;
    width:90%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 42px;
    padding:12px;
    background: black;
}

.portfolio-header {
    font-size:32px;
}

.portfolio-nav-bar-block ul{
    width: 290px;
    font-size:14px;
    display:flex;
    flex-direction: row;
    align-items: space-betweem;
    justify-content: space-between;
    color: white;
    font-weight: bold;
    list-style-type: none;
}


.portfolio-nav-bar-element-wip{
    
    text-decoration:none;
}

.portfolio-nav-bar-element{
    color:white;
    
    text-decoration:none;
    cursor:pointer;
}

.portfolio-nav-bar-element:hover{
    color:#00C810;
}

.nav-bar-element:focus{
    border-bottom-color:#00C810;
}


//---searchbar
.searchbar-element{
    color:#b4bdc2;
    margin-right: 100px;
    width: 482px;
    padding:0;
    height: 33px;
    background-color:transparent;

    border-style:solid;
    
    border-width:1px;
    border-color: rgb(70, 69, 69);
    // outline:lightgrey;
    border-radius: 4px;
    text-indent: 34px;
}

.searchbar-element:hover {
    -webkit-transition: all 0.5s ease;
    background-color:#2e3337;
}

.searchbar-element:focus {
    outline:none;
    -webkit-transition: all 0.5s ease;
    background-color:#2e3337;
}


//main block

.portfolio-main-wrapper{
    margin-left:100px;
    display:flex;
    flex-direction:row;
    height: 600px;
}

.portfolio-main-block{
    height:100%;
}

.portfolio-graph-block {

    display: flex;
    padding:30px;
    width:610px;
    flex-direction:column;
    justify-content: flex-start;
    align-items: space-around;
    border-bottom:1px solid rgb(70, 69, 69);
    margin-left:-40px;


}

.portfolio-buying-power-block {

    padding:30px;
    width:610px;
    flex-direction:column;
    justify-content: flex-start;align-items: center;
    border-bottom:1px solid rgb(70, 69, 69);
    margin-left:-40px;
}

.balance-element {
    
    font-size: 33px;
}

.graph-img {

    height: 100%;
    width:610px;
    float: left;
    overflow: hidden;
    animation: reveal 4s ease;
    animation-fill-mode: backwards;
}

@-webkit-keyframes reveal {
    from {
        width: 0px;
    }
    to { 
        width: 100%;
    }
}
@keyframes reveal {
    from {
        width: 0px;}
    to { width: 100%;
    }
}

.time-bar-block ul{
    grid-column-start: 1;
    width: 233px;
    font-size:14px;
    display:flex;
    flex-direction: row;
    justify-content: space-between;

    align-items: space-between;
    color: white;
    font-weight: bold;

}

.time-bar-elements:hover{
    color:#00C810;
    cursor:pointer;
}

.today-afterhours-text-element{
    color:grey;
    font-weight: 400;
}

.time-bar-elements:focus{
    border-bottom: 3px solid #00C810;
}

.portfolio-buying-power-block{
    
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

.buying-power{
    justify-content: flex-start;
}
.balance{
    justify-content: flex-end;
}


//sidebar
.portfolio-sidebar-wrapper{
    width:290px;
    height:500px;

    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .portfolio-sidebar-wrapper{
        border:1px solid rgb(70, 69, 69);
        border-radius:3px;
        background-color:#30363a;
        width:90%;
        height:459px;
        margin-left:40px;
    }
}



.portfolio-sidebar-row{
    width:100%
}
