.portfolio-wrapper {
    display:flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    background-color: black;
    height:690px;
    width:100%;
    color:white;
}

//nav-bar

.portfolio-nav-bar {
    position:sticky;
    width:90%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 42px;
    padding:12px;
    background: black;
}

.portfolio-header {
    font-size:32px;
}

.nav-bar-elements ul{
    width: 100%;
    font-size:14px;
    display:flex;
    flex-direction: row;
    align-items: space-between;
    color: white;
    font-weight: bold;
}

.searchbar-element{
    color:#b4bdc2;
    margin-right: 100px;
    width: 482px;
    padding:0;
    height: 33px;
    background-color:transparent;

    border-style:solid;
    
    border-width:1px;
    border-color: rgb(70, 69, 69);
    // outline:lightgrey;
    border-radius: 4px;
    text-indent: 34px;
    

}

.searchbar-element:hover {
    -webkit-transition: all 0.5s ease;
    background-color:#2e3337;
}

.searchbar-element:focus {
    outline:none;
    -webkit-transition: all 0.5s ease;
    background-color:#2e3337;
}

ul{
    list-style-type: none;
}
.nav-bar-links{
    margin-left: 20px;
    cursor:pointer;
}

.nav-bar-links:hover{
    color:#00C810;
}

.nav-bar-links:focus{
    border-bottom-color:#00C810;
}
// .balance-statement {
//     font-size: 22px;
// }

// .placeholder-img{
//     width: 500px;
//     height:400px;
// }

//main block

.portfolio-main-block {
    border:1px solid white;
    padding:30px;
    width:70%;
    flex-direction:column;
    justify-content: flex-start;align-items: center;
    border-bottom-color: grey;


}

.portfolio-buying-power-block {
    border:1px solid white;
    padding:30px;
    width:70%;
    flex-direction:column;
    justify-content: flex-start;align-items: center;
    border-bottom-color: grey;


}
