.signup-wrapper {
    font-family: 'Robot', sans-serif;
    width: 100%;
    height: 690px;
    display: flex;
    flex-direction: row;
}

.signup-link {
    text-decoration: none;
    color:#00C810;
    cursor:pointer;
}

.signup-form-wrapper {
    width: 60%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}

.signup-form-block {
    width:70%;
    margin-top:20px;
}

.signup-greeting-block{
    margin-top: 10px;
    font-size: 18px; 
    width: 100%;
    height: 100px;
    display:flex;
    flex-direction: column;
    // height: 40px;
}

.signup-logo-text {
    // width: 100%;
    font-size: 24px;
    text-decoration:none;
    color:black;
}

.signup-logo-img{
    width:28px;
    height:28px;
}

.signup-greeting-element span{
    font-size: 22px;
}

.signup-greeting-element-2 span{
    font-size: 13px;
}

.first-last-inputs-block {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

.firstname-input, .lastname-input {
    height: 33px;
    width: 45%;
}

.firstname-input-element, .lastname-input-element{
    width: 100%;
    padding:0;
    height: 33px;
    background-color: #f5f8fa;
    border:none;
    border-radius: 4px;
    text-indent: 10px;
}

.input-textbox, {
    background-color: #f5f8fa;
    border:none;
    margin-top:22px;

    outline: none;
    border-radius: 4px;
    width: 373px;
    height: 33px;
    padding-left: 12px;
    padding-right: 12px;
    text-indent: 11px;
}

.input-textbox:hover {
    border-color: #00C810;
    transition: all 1s ease;
    -webkit-transition: all 1s ease;
}

::placeholder{
    color:#b4bdc2;
    font-size:12.5px;
}

.email-password {
    display:flex;
    flex-direction: column;
    padding:0px;
    
}

.form-input input{
    width:100%;
    padding:0px;
}

.form-input:hover {
    border-color: #00C810;
    transition: all 1s ease;
    -webkit-transition: all 1s ease;
}


.signup-button-block{
    margin-bottom: 80px;
    display:flex;
    flex-direction: row;
}

.signup-button-submit {
    width: 136px;
    height: 45px;
    

    border: none;
    background-color: #00C810;
    border-radius: 4px;
    
    text-align: center;
    color: white;

    font-weight: bold;
    font-size: 12px;
}

.already-have-acct{
    width: 60%;
    font-size: 12px;
    line-height: 13px;
    color:black;
    width: 300px;
    margin-left:20px;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
}

.login-link{
    font-size: 12px;
    line-height: 13px;
    color:#47c807;
    width: 300px;
    cursor: pointer;
    text-decoration: none;
}

.form-disclosure {
    font-size:13px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}


.signup-footer-wrapper {
    font-size:12px;
    width: 88%;
    margin-left: 12px;
}

.signup-footer-block {
    color:lightgrey;
    line-height: 14px;

}

.sidebar-text-title{
    font-weight: bold;
}


.sidebar-box{
    
    width: 40%;
    height: 100%;
    display:flex;
    flex-direction: column;
    justify-content: center;

    font-size:13px;
    
    background-color:#f5f8fa;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.sidebar-content{
    display:flex;
    width: 250px;
    align-items: center;
}

.sidebar-text {
    line-height: 18px;
    font-size:13px;

    display:flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;

    margin-left: 30px;
}

.sidebar-text p{
    font-weight: 100;
}